[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask= "*"
flask-sqlalchemy = "*"
pyjwt = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.7"
